<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/chatroom.css">
    <title>Chatroom</title>
</head>
<body>
    <h1>Chatroom</h1>

    <p>Choose your chatroom</p>

    <div id="container">
        <% for(let i = 0; i < rooms.length; i++) { %>
          <a href="/homepage/<%=i%>">|| <%=rooms[i].name%> ||</a>
        <% } %>
      </div>

</html>