<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Talk2Me</h1>
    <h5>
        To continue you must sign up can account at:
    </h5>

    <a href="/users/registration">Register Here</a>

    <h5>
        Already have an account?
    </h5>
    
</body>
</html>