<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Center</title>
</head>
<body>
    <h2>
        Choose your chat room
    </h2>

    <a href="/homepage/portuguese">Portuguese</a>
</body>

</html>