<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/store-new.css">
    <title>Document</title>
</head>
<body>
    <a href="/homepage"><button>Cancel</button></a>
    <form action="/store" method="POST">
        Name: <input type="text" name="name"/> <br/>
        Decription: <input type="text" name="decription"/> <br/>
        IMG: <input type="text" name="IMG"/><br/>
        Price: <input type="text" name="price"/><br/>
        Quantity: <input type="text" name="qty"/><br/>
        <input type="submit" value="Submit New Product">
    </form>
</body>
</html>