<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/store-index.css">
    <title>Document</title>
</head>
<body>
    <h1>
        Shop
    </h1>
    <nav>
        <a href="store/new"><Button>Add a new item</Button></a>
    </nav>
    <br/>
    <div>
        <% for(let i = 0; i < stores.length; i++) { %> 
            <li>
                <a href="/store/<%=stores[i]._id%>"><img src="<%=stores[i].img%>" alt="">
                </a>
            </li>
            <% } %>
    </div>
</body>
</html>