<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/store-new.css">
    <title>Document</title>
</head>
<body>
    <a href="/store"><img src="http://clipart-library.com/img/1843287.png" alt="" id="BACK"></a>
    <form action="/store" method="POST">
        Name: <input type="text" name="name"/> <br/>
        Decription: <input type="text" name="decription"/> <br/>
        IMG: <input type="text" name="IMG"/><br/>
        Price: <input type="text" name="price"/><br/>
        Quantity: <input type="text" name="quantity"/><br/>
        Style: <input type="text" name="style"/><br/>
        Capacity: <input type="text" name="Capacity"/><br/>
        Model Name: <input type="text" name="modelName" id=""/><br/>
        Technology: <input type="text" name="technology" id=""/><br/>
        Color: <input type="text" name="color"/><br/>
        Network Carrier: <input type="text" name="carrier"/><br/>
        Like: <input type="text" name="like"/><br/>
        <input type="submit" value="Submit New Product">
    </form>
</body>
</html>