h1 {
    text-align: right;
    position: relative;top:200px;
}

img {
    width: 400px;
    height:420px;
    border-radius: 30%;
}

div {
    text-align: right;
    position: relative;top:-200px;
}

#description {
    font-stretch: ultra-condensed;
    letter-spacing: -1px;
}
