body{
    background-color: white;
    text-align: center;
    align-items: center;
}

img {
    width: 200px;
    height:220px;
    border-radius: 30%;
}

div {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    padding-bottom: 5%;
}

li {
    list-style-type: none;
}

h1 {
    background-color: black;
    color: white;
    border: solid 1px whitesmoke;
    margin-left: 50px;
    margin-right:60%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
}

nav{
    margin-left: 75%;
    margin-top: 50px;
}