body{
    background-color: white;
    text-align: center;
    align-items: center;
    max-width: auto;
    min-width: 400px;
    max-height: auto;
    min-height: auto;
}

#store-img {
    width: 200px;
    height:220px;
    border-radius: 30%;
}

div {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    padding-bottom: 5%;
}

li {
    list-style-type: none;
}

h1 {
    background-color: white;
    color: white;
    border: whitesmoke;
    /* margin-left: 50px;
    margin-right:60%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    padding-top: 50px; */
    text-align: left;
    /* font-family: Arial, Helvetica, sans-serif;
    position: relative;top:200px; */
}

nav{
    margin-left: 75%;
    margin-top: 50px;
    position: relative; top: -191px;
    text-align: right;
}

#store-name {
    width:50px;
    height:50px;
}

#button {
    text-align: left;
}

ul {
    /* text-align: right; */
    position: relative; top: -90px; 
    position: relative; right: -300px;
}
#list {
    position: relative; top: -200px;
}