body{
    font-family:'Times New Roman', Times, serif;
    /* margin-top: 20%; */
    background-image: repeating-linear-gradient(to right, white, turquoise);
    /* text-align: center; */
    animation: gra 20s ease infinite;
    animation-direction: reverse;
     max-width: auto;
    min-width: 400px;
    max-height: auto;
    min-height: auto;
}

@keyframes gra {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
    }



img{
    width: 15%;
    position: relative;
    border-radius: 400%;
    text-align: left;
    width: 50px;
    height: 50px;
    margin-bottom: 50px;
}

/* #picture2 {
    /* position: relative; */
    /* margin-left: 50%;
    position: relative;bottom:-200px;
    width: 200px;
    height: 120px;
} */ 

a {
    text-decoration: none;
    color: azure;
}


input {
    border-radius: 5px;
    padding: 4px;
}

h1 {
    text-align: center;
    color: black;
    position: relative;
}

h5 {
    text-align: center;
    color: black;
    position: relative;
}

#register {
    text-align: center;
    color: black;
    /* position: relative; right: -515px; */
    text-align: center;
    display: block;
    justify-content: space-between;
}

#login {
    /* position: relative; right: -517px; */
    color: black;
    display:block;
    justify-content: space-between;
    text-align: center;
}